@model People_MVC_Project.Models.ViewModels.CreatePeopleViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create a Person!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" list="cityList" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
                <datalist id="cityList">
                    @foreach (string city in Model.CityList)
                    {
                        <option value="@city">@city</option>
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Create" class="btn btn-success" style="width:100px; padding:2px;" ; />
                <a asp-action="Human" asp-controller="People" class="btn btn-danger" style="width:100px; padding:2px;">Back</a>
            </div>
        </form>
    </div>
</div>

