@model People
@{
    ViewData["Title"] = " People Details";
}

<h1>Details</h1>



    <dl>
        <dt>Person</dt>
        <dd>@Model.Name</dd>

        <dt>Age</dt>
        <dd>@Model.Age</dd>

        <dt>City</dt>
        <dd>@Model.City</dd>
        <a asp-action="Human" class="btn btn-danger" style="width:100px; padding:2px; asp-controller="People">Back</a>
    </dl>

