@model List<People>
@{
    ViewData["Title"] = "Human";
}


<h1>Human</h1>

<div class="SearchFlex">
    <a asp-action="Create" class="btn btn-success" style="width:100px; height:35px; padding:5px; margin-bottom:30px;">Add Person</a>
    <form asp-controller="Human" asp-action="People" method="get">
        <p>
            <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<div class="row">

    <div class="col-2 dez">Name</div>
    <div class="col-2 dez">Age</div>
    <div class="col-2 dez">City</div>
</div>
@foreach (People people in Model)
{
    @*    <div class="row">

        <div class="col-4">@people.PersonName</div>
        <div class="col-4">@people.Phone</div>
        <div class="col-4">@people.City</div>
        <div>@Html.ActionLink("Details","Details","People", new {id = people.Id})</div>
    </div>*@
    <partial name="_PeopleRow" model="people"></partial>
}

<a class="btn btn-danger" style="width:100px; padding:2px; margin-top:30px;" asp-area="" asp-controller="Home" asp-action="Index">Back</a>