@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

@if (Model != null)
{
    <div class="row" style="color:white; border:1px solid black; background-color:darkslategrey;">
        <h3 style="color:white;">Last Human Created</h3>
    </div>
    <partial name="_PeopleRow" model="Model"></partial>
}
else
{
    <h3 style="color:white;"> Be a god and create your first human!</h3>
}
